@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: 'Raleway';
} 

nav{
    background-color: #0cb6d8;
    color: white;
}

nav a{
    margin-left: 1.5em;
}

.links-div{
    margin-right: 3em;
}

main{
    background-color: black;
    color: white;
    padding: 55px 55px;
}

h2{   
    text-align: center;
}

.section-1 div{
    background-color: black;
    color: white; 
}

.section-1 i{
    fill: white;
}

.section-2{
    margin-top: 3em;
}

.section-2-div{
    padding-left: 57px;
}

.section-2-div .card{
    margin: 10px 10px;
    background-color: rgb(6, 216, 216);
    color: white;
}

.card-imgs{
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards{
    padding: 0 !important;
    font-weight: 200;
    border: none !important;
}

.section-3{
    margin-top: 3em;
}


footer{
    height: 2.5em;
    text-align: center;
    font-size: 1.8em;
}

footer a{
    margin-top: 20px !important;
    text-decoration: none;
    font-weight: 200;
    margin-left: -25px;
}

footer i {
    margin-top: 25px;
    margin-left: 1em;
    color: white;
}

@media (max-width: 800px) {
    .section-1 {
        display: none;
    }
}

